*{
    margin: 0px;
    border: 0px;
    font-family: 'Work Sans', sans-serif;
}

/* header style start */
header{
    box-sizing: border-box;
    background-color: #FF900E1A;
}

/* nav-bar style start */
#nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 75px 145px 105px;
}

#nav-bar>h1{
    color: #131313;
    font-size: 45px;
}

#links{
    box-sizing: border-box;
}

#links>a{
    color: #424242;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    padding-left: 45px;
}
/* nav-bar style end */

/* banner content style start */
#banner-content{
    box-sizing: border-box;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

#banner-content>h1{
    text-align: center;
    font-size: 64px;
}

#banner-content>p{
    text-align: center;
    padding: 27px 375px 33px;
}

.nirmal-text-design{
    color: #727272;
    font-size: 15px;
    font-weight: 400;
}

.primary-btn{
    width: 180px;
    height: 64px;
    text-align: center;
    color: #FFFFFF;
    background-color: #FF900E;
    border-radius: 7px;
    font-size: 20px;
    font-weight: 500;
}

#banner-content>img{
    width: calc(100% - 290px);
    padding: 51px 145px 47px;
}/* banner content style end */
/* header style end */

main{
    box-sizing: border-box;
}

/* features section style start */
#features{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#team-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    padding: 85px 75px 105px 225px;
}

#features-content{
    padding-right: 225px;
}

#features-content>h1{
    color: #727272;
    font-size: 45px;
    font-weight: 500;
}

#text-color-1{
    color: #131313;
}

#text-style-1{
    color:#FF900E;
    font-size: 45px;
    font-weight: 700;
}

#features-content>p{
    padding: 25px 0px 45px;
}
/* features section style end */

/* extended features section style start */
#extended-features{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 145px;
}

#features-title{
    box-sizing: border-box;
    width: 575px;
    height: 107px;
    color:#131313;
    font-size: 39px;
    font-weight: 700;
    border-left: 10px solid #FF900E;
    padding: 0px 75px 0px 21px;
    margin-top: 34px;
}

#features-description>p{
    box-sizing: border-box;
    width: 585px;
    padding: 25px 0px 27px;
}

.features-list{
    box-sizing: border-box;
    width: 585px;
    height: 155px;
    border-radius: 9px;
    box-shadow: 5px 5px 10px #131313;
    margin-bottom: 27px;
    padding: 25px;
}

.features-list>h1{
    color: #131313;
    font-size: 20px;
    font-weight: 500px;
    padding-bottom: 25px;
}

/* experience year button style start */
#experience-year{
    position: relative;
    left: -90px;
    bottom: 130px;
}

#experience-year>button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 345px;
    height: 200px;
    text-align: center;
    color: #FFFFFF;
    background-color: #FF900E;
    border-radius: 9px;
    font-size: 65px;
    font-weight: 700;    
}

#experience-year>button>span{
    text-align: center;
    color: #FFFFFF;
    background-color: #FF900E;
    font-size: 25px;
    font-weight: 500;    
}/* experience year button style end */
/* extended features section style end */

/* facts section style start */
#facts{
    padding: 0px 145px; 
}

#facts>h1{
    font-size: 45px;
}

#facts>p{
    padding: 25px 0px 75px;
    color: #727272;
}

/* exhibition cards style start */
#exhibition-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 55px 0px;
}

.exhibition-card{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 241px;
    height: 241px;
    border: 1px solid #FF900E;
    border-radius: 8px;
}

.exhibition-card>h2{
    color: #424242;
    font-size: 45px;
    font-weight: 500;
    padding: 13px 0px;
}

.exhibition-card>p{
    color: #727272;
 }/* exhibition cards style end */
/* facts section style end */

/* sponspors section style start */
#sponsors{
    margin: 125px 0px;
    padding: 0px 145px;
}
#sponsors>h1{
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}

#sponsors>p{
    color: #727272;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 65px;
}

#sponsors-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* sponspors section style end */

@media screen and (min-width: 1921px){
    body{
        display: flex;
        justify-content: center;
        background-color: #FF900E1A;
    }

    header{
        width: 1920px;
    }

    main{
        width: 1920px;
    }

    footer{
        width: 1920px;
    }
}